name: Image Push Workflow
on:
  push:
    branches:
    - main
jobs:
  build_and_push:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v2
    - name: Build image
      run: docker build -t my_image:latest .
    - name: Scan image
      run: |
        # Perform image scanning
        #sysdig secure scan --image my_image:latest
        # Check the scanning result
        if [[ $? -ne 0 ]]; then
          echo "Image scanning failed due to policy violation."
          exit 1
        fi
    - name: Scan image
      id: scan
      uses: sysdiglabs/scan-action@v3
      with:
        image-tag: "my_image:latest"
        sysdig-secure-token: ${{ secrets.SYSDIG_SECURE_TOKEN }}
        input-type: docker-daemon
        run-as-user: root
    - name: Approval
      id: approval
      uses: trstringer/manual-approval@v1.9.0
      with:
        secret: ${{ github.TOKEN }}
        approvers: dark-vex
        minimum-approvals: 1
        issue-title: Approve Image Push
        issue-body: Please review and approve the image push to the registry
    - name: Push image
      if: steps.approval.outputs.approved == 'true'
      run: docker push my_image:latest
